.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  gap: 10px;
  flex-flow: row wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
